* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.article {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 393px;
  min-height: 6287px;
  position: relative;
}

.article .vido {
  position: absolute;
  top: 5156px;
  left: 26px;
  width: 335px;
  height: 188px;
  border-radius: 8px;
  overflow: hidden;
}

.article .vido iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.article .page-de-garde {
  position: absolute;
  top: 0px;
  left: -26px;
  width: 517px;
  height: 1163px;
}

.article .image {
  position: absolute;
  top: 0;
  left: 26px;
  width: 393px;
  height: 541px;
  aspect-ratio: 0.73;
}

.article .img {
  position: absolute;
  top: 541px;
  left: 26px;
  width: 393px;
  height: 541px;
  aspect-ratio: 0.73;
}

.article .image-photoroom {
  top: 486px;
  height: 174px;
  position: absolute;
  left: 26px;
  width: 393px;
  aspect-ratio: 2.28;
  object-fit: cover;
}

.article .image-photoroom-2 {
  position: absolute;
  top: 296px;
  left: 335px;
  width: 84px;
  height: 67px;
  aspect-ratio: 1.44;
  object-fit: cover;
  z-index: 1;
}

.article .image-photoroom-3 {
  position: absolute;
  top: 660px;
  left: 158px;
  width: 261px;
  height: 503px;
  aspect-ratio: 0.7;
  object-fit: cover;
}

.article .image-photoroom-4 {
  top: 303px;
  height: 174px;
  position: absolute;
  left: 26px;
  width: 393px;
  aspect-ratio: 2.28;
  object-fit: cover;
}

.article .image-photoroom-5 {
  top: 486px;
  height: 185px;
  position: absolute;
  left: 26px;
  width: 393px;
  aspect-ratio: 2.28;
  object-fit: cover;;
}

.article .lucia-moholy {
  position: absolute;
  top: 340px;
  left: 72px;
  width: 308px;
  font-family: "Inter-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.80px;
  line-height: normal;
}

.article .malheureusement-une {
  position: absolute;
  top: 530px;
  left: 84px;
  width: 301px;
  font-family: "Inter-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.80px;
  line-height: normal;
}

.article .bande-dessinee-bulle {
  position: absolute;
  top: 625px;
  left: 26px;
  width: 266px;
  height: 287px;
  aspect-ratio: 0.93;
  object-fit: cover;
}

.article .ET-OUI-c-est-moi-le {
  position: absolute;
  top: 690px;
  left: 104px;
  width: 131px;
  font-family: "Roboto Condensed", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 24px;
  letter-spacing: -1.20px;
  line-height: normal;
}

.article .fonds {
  position: absolute;
  top: -1px;
  left: -138px;
  width: 623px;
  height: 2356px;
}

.article .image-2 {
  top: 977px;
  height: 370px;
  aspect-ratio: 1.5;
  object-fit: cover;
  position: absolute;
  left: 138px;
  width: 393px;
}

.article .image-3 {
  position: absolute;
  top: 1163px;
  left: 138px;
  width: 393px;
  height: 398px;
  aspect-ratio: 1.51;
  object-fit: cover;
}

.article .image-4 {
  position: absolute;
  top: 1545px;
  left: 138px;
  width: 393px;
  height: 398px;
  aspect-ratio: 1.51;
  object-fit: cover;
}

.article .image-5 {
  position: absolute;
  top: 1943px;
  left: 138px;
  width: 393px;
  height: 307px;
  aspect-ratio: 1.95;
}

.article .image-6 {
  position: absolute;
  top: 1px;
  left: 138px;
  width: 393px;
  height: 80px;
  aspect-ratio: 4.91;
}

.article .image-7 {
  top: 2242px;
  height: 114px;
  aspect-ratio: 4.11;
  position: absolute;
  left: 138px;
  width: 393px;
}

.article .partie-photo {
  position: absolute;
  top: 2379px;
  left: -10px;
  width: 437px;
  height: 2787px;
}

.article .image-8 {
  position: absolute;
  top: 2128px;
  left: 10px;
  width: 393px;
  height: 549px;
  aspect-ratio: 0.76;
  object-fit: cover;
}

.article .image-9 {
  position: absolute;
  top: 1310px;
  left: 10px;
  width: 393px;
  height: 538px;
  aspect-ratio: 0.76;
}

.article .image-10 {
  position: absolute;
  top: 1857px;
  left: 18px;
  width: 377px;
  height: 261px;
  aspect-ratio: 1.45;
  object-fit: cover;
}

.article .text-wrapper {
  position: absolute;
  top: 2649px;
  left: 110px;
  width: 280px;
  font-family: "PP Mori-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 10.2px;
}

.article .div {
  top: 2082px;
  left: 28px;
  width: 180px;
  letter-spacing: -0.26px;
  line-height: 10.2px;
  position: absolute;
  font-family: "PP Mori-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
}

.article .image-11 {
  position: absolute;
  top: 1023px;
  left: 31px;
  width: 372px;
  height: 267px;
  aspect-ratio: 1.39;
  object-fit: cover;
}

.article .image-12 {
  position: absolute;
  top: 745px;
  left: 10px;
  width: 374px;
  height: 259px;
  aspect-ratio: 1.44;
  object-fit: cover;
}

.article .image-13 {
  position: absolute;
  top: 87px;
  left: 10px;
  width: 393px;
  height: 640px;
  aspect-ratio: 0.61;
}

.article .p {
  position: absolute;
  top: 697px;
  left: 19px;
  width: 280px;
  font-family: "PP Mori-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 14.7px;
}

.article .text-wrapper-2 {
  position: absolute;
  top: 758px;
  left: 19px;
  width: 250px;
  font-family: "PP Mori-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 14.7px;
}

.article .text-wrapper-3 {
  position: absolute;
  top: 1232px;
  left: 301px;
  width: 180px;
  font-family: "PP Mori-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 14.7px;
}

.article .text-wrapper-4 {
  top: 1820px;
  left: 17px;
  width: 380px;
  letter-spacing: -0.13px;
  line-height: 14.7px;
  position: absolute;
  font-family: "PP Mori-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
}

.article .ses-photographies {
  position: absolute;
  top: 0;
  left: 36px;
  width: 367px;
  font-family: "Baumans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 28.2px;
}

.article .group {
  position: absolute;
  top: 2711px;
  left: 28px;
  width: 397px;
  height: 76px;
  display: flex;
}

.article .une-vid-o {
  width: 395px;
  height: 76px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 28.2px;
}

.article .texte {
  position: absolute;
  top: 1122px;
  left: 33px;
  width: 396px;
  height: 4487px;
  display: flex;
  flex-direction: column;
}

.article .son-approche {
  margin-left: 2px;
  width: 372px;
  height: 86px;
  font-family: "Baumans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.article .text-wrapper-5 {
  margin-left: 8px;
  width: 336px;
  height: 101px;
  margin-top: 29px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.article .photographie {
  height: 43px;
  margin-top: 41px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.article .text-wrapper-6 {
  width: 328px;
  height: 125px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.article .exp-rimentation {
  margin-left: 2px;
  width: 292px;
  height: 21px;
  margin-top: 29px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.article .text-wrapper-7 {
  width: 329px;
  height: 89px;
  margin-top: 50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.article .son-r-le-dans-la {
  width: 285px;
  height: 51px;
  margin-top: 35px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.article .text-wrapper-8 {
  margin-left: 2px;
  width: 312px;
  height: 107px;
  margin-top: 25px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.article .une-photographe {
  margin-left: 1px;
  width: 265px;
  height: 54px;
  margin-top: 38px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 26.6px;
}

.article .lucia-moholy-n-est {
  margin-left: 1px;
  width: 285px;
  height: 228px;
  margin-top: 12px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18.1px;
}

.article .text-wrapper-9 {
  margin-left: 13px;
  width: 315px;
  height: 243px;
  margin-top: 3080px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 17.0px;
}

.article .footer {
  position: absolute;
  top: 5681px;
  left: 0;
  width: 393px;
  height: 606px;
  background-color: #1d1513;
}

.article .lucia-moholy-2 {
  position: absolute;
  width: 46.56%;
  height: 9.77%;
  top: 3.79%;
  left: 3.82%;
  font-family: "Baumans-Regular", Helvetica;
  font-weight: 400;
  color: #dddddd;
  font-size: 43.1px;
  letter-spacing: -3.88px;
  line-height: 33.8px;
}

.article .vector {
  position: absolute;
  width: 5.09%;
  height: 3.30%;
  top: 74.92%;
  left: 11.96%;
}

.article .vector-2 {
  position: absolute;
  width: 5.09%;
  height: 3.28%;
  top: 74.92%;
  left: 3.82%;
}

.article .vector-3 {
  position: absolute;
  width: 5.09%;
  height: 2.92%;
  top: 74.92%;
  left: 21.37%;
}

.article .vector-4 {
  position: absolute;
  width: 5.60%;
  height: 2.64%;
  top: 74.92%;
  left: 29.52%;
}

.article .span {
  font-weight: 600;
}

.article .text-wrapper-10 {
  font-family: "Kanit-Regular", Helvetica;
}

.article .text-wrapper-11 {
  font-family: "Kanit-Regular", Helvetica;
  text-decoration: underline;
}

.article .flches {
  position: absolute;
  top: 5567px;
  left: 92px;
  width: 203px;
  height: 60px;
}

.article .r {
  left: 95px;
  position: absolute;
  top: 0;
  width: 108px;
  height: 60px;
}

.article .group-wrapper {
  left: 0;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  width: 108px;
  height: 60px;
}

.article .son-histoire {
  position: absolute;
  top: 134px;
  left: 25px;
  width: 381px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 104.7px;
  letter-spacing: -9.43px;
  line-height: 78.5px;
}
.footer .text-wrapper-5 {
  position: absolute;
  width: 29.77%;
  height: 4.62%;
  top: 22px;
  left: -8px;
}

.article .navigation-image-link-left {
  position: absolute;
  top: 5567px;
  left: 37%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 4;
}

.article .navigation-image-link-right {
  position: absolute;
  top: 5567px;
  left: 63%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 4;
}

.article .navigation-image {
  object-fit: contain;
  transition: transform 0.3s ease;
}

.article .navigation-image-link-left:hover .navigation-image,
.article .navigation-image-link-right:hover .navigation-image {
  transform: scale(1.1);
}