.article {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 393px;
  min-height: 6956px;
  position: relative;
}

.article .fonds {
  position: absolute;
  top: 0;
  left: 0;
  width: 393px;
  height: 7000px;
  pointer-events: none;
}

.article .fond-slot-1,
.article .fond-slot-2,
.article .fond-slot-3,
.article .fond-slot-4,
.article .fond-slot-5,
.article .fond-slot-6,
.article .fond-slot-7,
.article .fond-slot-8,
.article .fond-slot-9,
.article .fond-slot-10, 
.article .fond-slot-11,
.article .fond-slot-12,
.article .fond-slot-13,
.article .fond-slot-14,
.article .fond-slot5-14,
.article .fond-slot-15,
.article .fond-slot-16, 
.article .fond-slot-17,
.article .fond-slot-18,
.article .fond-slot-19 {
  position: absolute;
  left: 0;
  width: 393px;
  object-fit: cover;
}

.article .fond-slot-1 { top: 0; }
.article .fond-slot-2 { top: 471px; }
.article .fond-slot-3 { top: 1000.99px; }
.article .fond-slot-4 { top: 1585.77px;z-index: 1; }
.article .fond-slot-5 { top: 1860px; }
.article .fond-slot-6 { top: 2258px; }
.article .fond-slot-7 { top: 2647px; }
.article .fond-slot-8 { top: 3043px; }
.article .fond-slot-9 { top: 3434px; }
.article .fond-slot-10 { top: 3750px; }
.article .fond-slot-11 { top: 3832px; }
.article .fond-slot-12 { top: 4221px; }
.article .fond-slot-13 { top: 4603px; }
.article .fond-slot-14,
.article .fond-slot5-14 { top: 4932px; }
.article .fond-slot-15 { top: 5670px; }
.article .fond-slot-16 { top: 7500px; }
.article .fond-slot-17 { top: 8000px; }
.article .fond-slot-18 { top: 8500px; }
.article .fond-slot-19 { top: 9000px; }

.article .page-de-garde {
  position: absolute;
  top: 666px;
  left: -256px;
  width: 784px;
  height: 1290px;
}

.article .image-photoroom {
  position: absolute;
  top: 150px;
  left: 256px;
  width: 393px;
  height: 895px;
  aspect-ratio: 0.78;
  object-fit: cover;
}

.article .image {
  position: absolute;
  top: 920px;
  left: 256px;
  width: 393px;
  height: 370px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.article .img {
  position: absolute;
  top: 0;
  left: 273px;
  width: 376px;
  height: 488px;
  aspect-ratio: 1.14;
  object-fit: cover;
}

.article .partie {
  position: absolute;
  top: 5713px;
  left: 29px;
  width: 328px;
  height: 362px;
  display: flex;
  flex-direction: column;
}

.article .vers-une-litt-rature {
  margin-left: 4px;
  width: 320px;
  height: 184px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 41.0px;
  padding-top: 70px;
}

.article .text-wrapper {
  width: 315px;
  height: 178px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 18.2px;
  left: 9px;
  top: 260px;
}

.article .div {
  position: absolute;
  top: 1731px;
  left: 0;
  width: 419px;
  height: 2059px;
}

.article .les-femmes-de {
  position: absolute;
  top: 0;
  left: 34px;
  width: 377px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 36.5px;
  z-index: 2;
}

.article .p {
  position: absolute;
  top: 130px;
  left: 35px;
  width: 334px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 18.2px;
  z-index: 2;
}

.article .une-red-couverte-des {
  position: absolute;
  top: 996px;
  left: 24px;
  width: 316px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 41.0px;
}

.article .text-wrapper-2 {
  position: absolute;
  top: 1137px;
  left: 22px;
  width: 320px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 18.2px;
}

.article .image-photoroom-2 {
  position: absolute;
  top: 359px;
  left: 0;
  width: 308px;
  height: 610px;
  aspect-ratio: 0.5;
  object-fit: cover;
}

.article .image-2 {
  position: absolute;
  top: 1353px;
  left: 47px;
  width: 309px;
  height: 403px;
  aspect-ratio: 0.75;
  object-fit: cover;
}

.article .image-3 {
  position: absolute;
  top: 1682px;
  left: 13px;
  width: 170px;
  height: 220px;
  aspect-ratio: 0.75;
}

.article .image-4 {
  position: absolute;
  top: 1704px;
  left: 139px;
  width: 249px;
  height: 363px;
  aspect-ratio: 0.67;
  object-fit: cover;
  z-index: 2;
}

.article .partie-2 {
  position: absolute;
  top: 3892px;
  left: -121px;
  width: 746px;
  height: 1748px;
}

.article .la-science-comme-m {
  position: absolute;
  top: 0;
  left: 156px;
  width: 317px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 41.0px;
  z-index: 2;
}

.article .des-autrices-qui {
  position: absolute;
  top: 400px;
  left: 156px;
  width: 323px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 41.0px;
  z-index: 2;
}

.article .text-wrapper1-3 {
  position: absolute;
  top: 153px;
  left: 158px;
  width: 315px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 18.2px;
  z-index: 2;
}

.article .text-wrapper-4 {
  position: absolute;
  top: 563px;
  left: 156px;
  width: 315px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 18.2px;
}

.article .image-photoroom-3 {
  position: absolute;
  top: 750px;
  left: 210px;
  height: 1033px;
  aspect-ratio: 0.69;
  object-fit: cover;
}

.article .image-photoroom2-4 {
  position: absolute;
  top: 1110px;
  left: 121px;
  width: 393px;
  height: 670px;
  aspect-ratio: 0.77;
  object-fit: cover;
  z-index: 3;
}

.article .text-wrapper-5 {
  position: absolute;
  top: 1695px;
  left: 128px;
  width: 140px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 16.7px;
  z-index: 3;
}

.article .text-wrapper-6 {
  position: absolute;
  top: 884px;
  left: 136px;
  width: 121px;
  font-family: "Plus Jakarta Sans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 16.7px;
}

.article .footer {
  position: absolute;
  top: 6350px;
  left: 0;
  width: 434px;
  height: 606px;
  background-color: #1d1513;
}

.article .lucia-moholy {
  position: absolute;
  width: 46.56%;
  height: 9.77%;
  top: 3.79%;
  left: 3.82%;
  font-family: "Baumans-Regular", Helvetica;
  font-weight: 400;
  color: #dddddd;
  font-size: 43.1px;
  letter-spacing: -3.88px;
  line-height: 33.8px;
}

.article .vector {
  position: absolute;
  width: 5.09%;
  height: 3.30%;
  top: 74.92%;
  left: 11.96%;
}

.article .vector-2 {
  position: absolute;
  width: 5.09%;
  height: 3.28%;
  top: 74.92%;
  left: 3.82%;
}

.article .vector-3 {
  position: absolute;
  width: 5.09%;
  height: 2.92%;
  top: 74.92%;
  left: 21.37%;
}

.article .vector-4 {
  position: absolute;
  width: 5.60%;
  height: 2.64%;
  top: 74.92%;
  left: 29.52%;
}

.article .span {
  font-weight: 600;
}

.article .flches {
  position: absolute;
  top: 6114px;
  left: 95px;
  width: 203px;
  height: 60px;
}

.article .r {
  left: 95px;
  position: absolute;
  top: 0;
  width: 108px;
  height: 60px;
}

.article .group-wrapper {
  left: 0;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  width: 108px;
  height: 60px;
}

.article .group-3 {
  position: relative;
  width: 55.54%;
  height: 99.82%;
  left: 22.23%;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.article .les-femmes-de-2 {
  position: absolute;
  top: 149px;
  left: 30px;
  width: 381px;
  font-family: "Baumans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 104.7px;
  letter-spacing: -9.43px;
  line-height: 82.2px;
}
/* Inject original CSS code here */

.footer-nav {
  position: absolute;
  top: 22.28%;
  left: 4.58%;
  width: 29.77%;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 0.8em;
}

.footer-nav a {
  opacity: 0.59;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.footer-nav a:hover,
.footer-nav a:focus {
  opacity: 1;
  text-decoration: underline;
}

.menu-EFEFEF {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  width: 19.34%;
  height: 35.68%;
  top: 6.10%;
  left: 74.30%;
}

.menu-EFEFEF:hover,
.menu-EFEFEF:focus {
  opacity: 0.8;
}

.group,
.group-2 {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.group:hover,
.group:focus,
.group-2:hover,
.group-2:focus {
  transform: scale(1.05);
}

.group:focus,
.group-2:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.r,
.group-wrapper {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
}

.r:hover,
.r:focus,
.group-wrapper:hover,
.group-wrapper:focus {
  transform: scale(1.1);
}

.r:focus,
.group-wrapper:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.CONTACT-pl-lucien a:hover,
.CONTACT-pl-lucien a:focus {
  opacity: 1;
}

/* Navigation arrows */
.article .navigation4-image-link-left,
.article .navigation4-image-link-right {
  position: absolute;
  top: 6232px;
  z-index: 4;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.article .navigation4-image-link-left {
  left: 37%;
  transform: translateX(-50%);
}

.article .navigation4-image-link-right {
  left: 63%;
  transform: translateX(-50%);
}

.article .navigation4-image-link-left:hover,
.article .navigation4-image-link-right:hover {
  transform: translateX(-50%) scale(1.1);
}

.article .navigation-image {
  height: 100%;
  object-fit: contain;
}

.article .navigation-image-link-left {
  position: absolute;
  top: 6200px;
  left: 40%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 4;
  width: 60px;
  height: 60px;
}

.article .navigation-image-link-right {
  position: absolute;
  top: 6200px;
  left: 60%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 4;
  width: 60px;
  height: 60px;
}

.article .navigation-image-link-left:hover,
.article .navigation-image-link-right:hover {
  transform: translateX(-50%) scale(1.1);
}
