body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page-contact {  background-color: #ffffff;  overflow: hidden;  width: 100%;  max-width: 393px;  min-width: 393px;  min-height: 1923px;  position: relative;  margin: 0 auto;
}

.page-contact .page-de-garde {
  position: absolute;  top: 144px;  left: 0;
  width: 393px;
  height: 212px;
}

.page-contact .rectangle {
  position: absolute;
  top: 0;
  left: 76px;
  width: 315px;
  height: 98px;
  background-color: #d9d9d9;
  border-radius: 18.23px;
  box-shadow: 12.53px 17.09px 4.56px #00000040;
}

.page-contact .page-de-garde .div {
  position: absolute;
  top: 169px;
  left: 58px;
  width: 311px;
  height: 43px;
  background-color: #d9d9d9;
  border-radius: 16px;
  box-shadow: 11px 15px 4px #00000040;
}

.page-contact .envie-de-nous {
  position: absolute;
  top: 27px;
  left: 119px;
  width: 350px;
  font-family: "PP Mori-SemiBoldItalic", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #000000;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 25.1px;
}

.page-contact .vector {
  position: absolute;
  top: 31px;
  left: 15px;
  width: 76px;
  height: 41px;
}

.page-contact .img {
  position: absolute;
  top: 176px;
  left: 359px;
  width: 49px;
  height: 31px;
}

.page-contact .text-wrapper {
  position: absolute;
  top: 183px;
  left: 77px;
  width: 284px;
  font-family: "PP Mori-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: -0.40px;
  line-height: 15.7px;
}

.page-contact .formulaire {
  position: absolute;
  top: 431px;
  left: 0;
  width: 425px;
  height: 774px;
}

.page-contact .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 407px;
  height: 774px;
  background-color: #e8e7e7;
}

.page-contact .text-wrapper-2 {
  position: absolute;
  top: 67px;
  left: 24px;
  width: 283px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #030303;
  font-size: 26px;
  letter-spacing: -0.52px;
  line-height: 20.4px;
}

.page-contact .rectangle-3 {
  position: absolute;
  top: 180px;
  left: 23px;
  width: 168px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-size: 14px;
}

.page-contact .rectangle-4 {
  position: absolute;
  top: 251px;
  left: 23px;
  width: 324px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-size: 14px;
}

.page-contact .rectangle-5 {
  position: absolute;
  top: 315px;
  left: 23px;
  width: 324px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-size: 14px;
}

.page-contact .rectangle-6 {
  position: absolute;
  top: 382px;
  left: 23px;
  width: 324px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-size: 14px;
}

.page-contact .rectangle-7 {
  position: absolute;
  top: 449px;
  left: 23px;
  width: 324px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-size: 14px;
  resize: vertical;
}

.page-contact .rectangle-8 {
  position: absolute;
  top: 180px;
  left: 240px;
  width: 107px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-size: 14px;
}

.page-contact .text-wrapper-3 {
  position: absolute;
  top: 159px;
  left: 24px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 11.0px;
  white-space: nowrap;
}

.page-contact .text-wrapper-4 {
  position: absolute;
  top: 230px;
  left: 24px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 11.0px;
  white-space: nowrap;
}

.page-contact .text-wrapper-5 {
  position: absolute;
  top: 295px;
  left: 23px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 11.0px;
  white-space: nowrap;
}

.page-contact .text-wrapper-6 {
  position: absolute;
  top: 361px;
  left: 23px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 11.0px;
  white-space: nowrap;
}

.page-contact .text-wrapper-7 {
  position: absolute;
  top: 428px;
  left: 24px;
  font-family: "Plus Jakarta Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 11.0px;
  white-space: nowrap;
}

.page-contact .text-wrapper-8 {
  position: absolute;
  top: 159px;
  left: 240px;
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 11.0px;
  white-space: nowrap;
}

.page-contact .rectangle-9 {
  position: absolute;
  top: 683px;
  left: 30px;
  width: 195px;
  height: 44px;
  background-color: #0f5a92;
  box-shadow: 5px 4px 4px #00000040;
}

.page-contact .envoyer-le-message {
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.32px;
  line-height: 12.6px;
  white-space: nowrap;
}

.page-contact .rectangle-10 {
  position: absolute;
  top: 592px;
  left: 30px;
  width: 240px;
  height: 46px;
  background-color: #e6e4e6;
  border-radius: 3px;
}

.page-contact .rectangle-11 {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border-radius: 2px;
}

.page-contact .p {
  position: absolute;
  top: 17px;
  left: 47px;
  width: 133px;
  font-family: "Plus Jakarta Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: 9.4px;
}

.page-contact .image {
  top: 5px;
  left: 188px;
  width: 40px;
  height: 36px;
  aspect-ratio: 1.1;
  position: absolute;
  object-fit: cover;
}

.page-contact .line {
  position: absolute;
  top: 661px;
  left: 30px;
  width: 317px;
  height: 2px;
}

.page-contact .footer {
  position: absolute;
  top: 1317px;  left: 0;
  width: 434px;
  height: 606px;
  background-color: #1d1513;
}

.page-contact .lucia-moholy {
  position: absolute;
  width: 46.56%;
  height: 9.77%;
  top: 3.79%;
  left: 3.82%;
  font-family: "Baumans-Regular", Helvetica;
  font-weight: 400;
  color: #dddddd;
  font-size: 43.1px;
  letter-spacing: -3.88px;
  line-height: 33.8px;
}

.page-contact .vector-2 {
  position: absolute;
  width: 5.09%;
  height: 3.30%;
  top: 74.92%;
  left: 11.96%;
}

.page-contact .vector-3 {
  position: absolute;
  width: 5.09%;
  height: 3.28%;
  top: 74.92%;
  left: 3.82%;
}

.page-contact .vector-4 {
  position: absolute;
  width: 5.09%;
  height: 2.92%;
  top: 74.92%;
  left: 21.37%;
}

.page-contact .vector-5 {
  position: absolute;
  width: 5.60%;
  height: 2.64%;
  top: 74.92%;
  left: 29.52%;
}

.page-contact .CONTACT-pl-lucien {
  position: absolute;
  width: 48.09%;
  height: 34.49%;
  top: 39.11%;
  left: 4.58%;
  opacity: 0.59;
  font-family: "Kanit-SemiBold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page-contact .span {
  font-weight: 600;
}

.page-contact .text-wrapper-9 {
  font-family: "Kanit-Regular", Helvetica;
}

.page-contact .text-wrapper-10 {
  font-family: "Kanit-Regular", Helvetica;
  text-decoration: underline;
}

.page-contact .text-wrapper-11 {
  position: absolute;
  width: 93.89%;
  height: 12.87%;
  top: 86.47%;
  left: 3.82%;
  opacity: 0.59;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.26px;
  line-height: 15.2px;
}

.page-contact .text-wrapper-12 {
  position: absolute;
  width: 22.14%;
  height: 4.62%;
  top: 22.28%;
  left: 4.58%;
  opacity: 0.59;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page-contact .text-wrapper-13 {
  position: absolute;
  width: 29.77%;
  height: 4.62%;
  top: 26.07%;
  left: 4.58%;
  opacity: 0.59;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page-contact .text-wrapper-14 {
  position: absolute;
  width: 29.77%;
  height: 4.62%;
  top: 29.87%;
  left: 4.58%;
  opacity: 0.59;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page-contact .component {
  position: absolute;
  top: 0;
  left: 0;
  width: 393px;
  height: 213px;
  background: linear-gradient(
    360deg,
    rgba(1, 1, 1, 0.29) 0%,
    rgba(54, 54, 54, 0) 100%
  );
}

.page-contact .menu-EFEFEF {
  position: absolute;
  width: 19.34%;
  height: 35.68%;
  top: 6.10%;
  left: 74.30%;
}

.page-contact .vector-6 {
  position: absolute;
  width: 75.00%;
  height: 50.00%;
  top: 25.00%;
  left: 12.50%;
}

.page-contact .group {
  left: 18.83%;
  position: absolute;
  width: 12.24%;
  height: 24.41%;
  top: 8.45%;
}

.page-contact .rectangle-12 {
  position: absolute;
  width: 95.84%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 8.56px;
  box-shadow: 3.81px 3.81px 3.81px #00000040;
}

.page-contact .text-wrapper-15 {
  position: absolute;
  width: 49.47%;
  height: 27.45%;
  top: 6.82%;
  left: 24.57%;
  font-family: "Baumans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18.7px;
  letter-spacing: -0.37px;
  line-height: 14.7px;
  white-space: nowrap;
}

.page-contact .image-2 {
  width: 66.62%;
  top: 24px;
  left: 14.74%;
  height: 21px;
  aspect-ratio: 1.52;
  position: absolute;
  object-fit: cover;
}

.page-contact .group-2 {
  left: 4.83%;
  position: absolute;
  width: 12.24%;
  height: 24.41%;
  top: 8.45%;
}


